<footer class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="background-color: #222831;">
  <div class="p-3 mt-1 text-center text-muted">
    © 2022 - <span id="current-year"></span> | Developed By 
    <a class="text-muted" href="https://linkedin.com/in/ThisIsMrIsmail" target="_blank" rel="noopener noreferrer">Ismail Sherif</a>
  </div>
</footer>

<script>
let year = new Date();
  document.querySelector("#current-year").innerHTML = year.getFullYear();
</script>