<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Derny Online</title>
    <%- include ("partials/links") -%>
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/login.css">
  
  <%- include ("partials/favicons") -%>
</head>

<body class="d-flex h-100" style="background-color: white;">
    
<div class="d-flex w-100 h-100 p-0 mx-auto flex-column">
  <header class="p-2 sticky-top text-center" style="background-color: #222831;">
    <div class="container">
      <h3 class="float-md-start mb-0 text-white">
        <a class="text-white" style="text-decoration: none;" href="/">Derny Online</a>
      </h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0" href="/">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Features</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/login">Login</a>
        <a class="nav-link fw-bold py-1 px-0" href="/signup">Sign up</a>
      </nav>
    </div>
  </header>

  <div class="my-auto container">
    <div class="row my-5">
      <div class="col-lg-6 d-block">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <h1 class="fw-bold mb-0 fs-2">Login</h1>
            </div>
      
            <div class="modal-body p-5 pt-0">
              <!-- Login FORM -->
              <form action="/dashboard" class="form-signin needs-validation" novalidate>
                
                <div class="form-floating mb-3 has-validation">
                  <input type="email" name="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com" required>
                  <label for="floatingInput">Email address</label>
                  <div class="invalid-feedback">
                    Enter a valid email address.
                  </div>
                </div>
      
                <div class="form-floating mb-3 has-validation">
                  <input type="password" name="password" id="floatingPassword" class="form-control rounded-3" placeholder="Password" autocomplete="off" required>
                  <i class="far fa-eye" id="togglePassword"></i>
                  <label for="floatingPassword">Password</label>
                  <div class="invalid-feedback">
                    Enter your password.
                  </div>
                </div>
                <button class="w-100 mb-2 btn btn-lg fw-bold rounded-3 btn-dark" type="submit">Login</button>
              </form>
              <a href="" class="text-muted btn btn-sm border-0">Forgot your password?</a>
              <hr class="my-4">
              <h2 class="fs-5 fw-bold mb-3">Not Registered?</h2>
              <a class="w-100 py-2 mb-2 btn btn-lg fw-bold btn-outline-dark rounded-3" href="/signup">Sign up</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6 d-flex">
        <img class="my-auto w-100" src="/images/b2.jpg" alt="image">
      </div>
    </div>
  </div>

  <footer class="text-white-50 text-center text-small" style="background-color: #222831;">
    <div class="container p-0">
      <div class="m-0 mt-3 d-lg-flex">
        <div class="me-auto">
          <p class="text-sm-center">© 2022 - <span id="current-year"></span> | Developed By
            <a class="text-white-50" href="https://linkedin.com/in/ThisIsMrIsmail"
            target="_blank" rel="noopener noreferrer">Ismail Sherif</a>
          </p>
          <script>
            let year = new Date();
            document.querySelector("#current-year").innerHTML = year.getFullYear();
          </script>
        </div>
        <div>
          <ul class="list-inline text-sm-center">
            <li class="list-inline-item"><a class="text-white-50" href="#">Privacy</a></li>
            <li class="list-inline-item"><a class="text-white-50" href="#">Terms</a></li>
            <li class="list-inline-item"><a class="text-white-50" href="#">Support</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

  <%- include ("partials/scripts") -%>

  <script src="/js/login.js"></script>

</body>
</html>
