@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap');

:root {
  --grey-color: #d3d3d3;
  --ar-font: 'Amiri', serif;
  --noto-font: 'Noto Naskh Arabic', serif;
  --lateef-font: 'Lateef', serif;
}
* {
  color: black;
}

body {
  margin: 25px 25px;
  font-family:'Times New Roman', Times, serif;
  margin-bottom:60px;
}

#pdf-buttons {
  display: flex;
}
button {
  background-color: #b30b00;
  color: #EEEEEE;
  padding: 4px 10px;
  border: 0px;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}
button:hover {
  box-shadow: 0px 2px #a40b00;
}

#today-date {
  margin-bottom: 15px;
  font-family: Times, serif;
  font-size: 17px;
  font-weight: 550;
}
#current-day, #current-time {
  margin: 0px auto;
}
#barcode-canvas {
  width: 210px;
  height: 70px;
}


.personal-image {
  width: 170px;
  height: 190px;
  padding: 3px;
  border: 5px black double;
  border-radius: 5px;
}
.logo-div {
  width: 400px;
  height: 190px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.logo-image {
  max-width: 100%;
  max-height: 100%;
}


.english-title {
  margin-top: 10px;
  width: 40%;
  background-color: var(--grey-color);
}
.english-title h3 {
  font-size: 19px;
  font-weight: 700;
  padding: 6px 0;
}
.arabic-title {
  margin-top: 10px;
  margin-top: 5px;
  width: 25%;
  background-color: var(--grey-color);
}
.arabic-title h3 {
  font-family: 'Noto Naskh Arabic', serif;
  font-size: 24px;
  font-weight: bolder;
  padding: 2px 0;
}


.date, .emp, .emp-table {
  margin: auto;
}
.date {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 700;
  height: 35px;
}
.date-title-1 {
  margin-right: auto;
  height: 35px;
  padding: 5px;
  background-color: var(--grey-color);
}
.date-title-2 {
  margin-left: auto;
  height: 35px;
  padding: 5px;
  background-color: var(--grey-color);
  font-family: var(--noto-font);
  font-weight: 700;
}
#en-date, #ar-date {
  height: 35px;
  padding: 5px;
}

.emp {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 700;
}
.emp-word-1 {
  margin-right: auto;
  height: 35px;
  padding: 5px;
  background-color: var(--grey-color);
}
.emp-word-2 {
  margin-left: auto;
  height: 35px;
  padding: 5px;
  font-family: var(--noto-font);
  font-weight: 700;
  background-color: var(--grey-color);
}


.emp-table {
  border: 3px black solid;
}
.table-title-ltr {
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  height: 40px;
  background-color: var(--grey-color);
  border-right-color: black;
  border-top: 0;
  border-right: 2px;
  border-bottom: 0;
  border-left: 0;
  border-style: solid;
}
.table-title-rtl {
  font-size: 18px;
  font-family: var(--noto-font);
  font-weight: 700;
  padding: 5px;
  height: 40px;
  background-color: var(--grey-color);
  border-left-color: black;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 2px;
  border-style: solid;
}
.table-word {
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  height: 40px;
}
.ar-table-word {
  margin: 0;
  padding: 0;
}
.ar-table-word p {
  font-family: var(--noto-font);
  font-weight: 700;
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin: 5px 5px 0px;
}

.address-table-title-ltr {
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  height: 40px;
  background-color: var(--grey-color);
  border-right-color: black;
  border-top: 0;
  border-right: 2px;
  border-bottom: 0;
  border-left: 0;
  border-style: solid;
}
.address-table-title-rtl {
  font-size: 15px;
  font-family: var(--noto-font);
  font-weight: 700;
  padding: 5px;
  height: 40px;
  background-color: var(--grey-color);
  border-left-color: black;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 2px;
  border-style: solid;
}
.address-table-word {
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  height: 40px;
}
.ar-address-table-word {
  margin: 0;
  padding: 0;
}
.ar-address-table-word p {
  font-family: var(--noto-font);
  font-weight: 700;
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin: 5px 5px 0px;
}
.salary {
  margin: 0;
}
.en-salary, .ar-salary {
  border: 3px black solid;
  margin-bottom: 3px;
}
.ar-salary {
  font-family: var(--noto-font);
}
.ar-salary .all-values {
  font-family: 'Times New Roman', Times, serif;
}
.basic-salary, .total-salary {
  margin: 0;
  border: 1px black solid;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 700;
}
.allowances {
  margin: 0;
  border: 1px black solid;
  font-size: 17px;
  font-weight: 700;
}
.all-title td {
  margin: 0;
  border: 1px black solid;
  font-size: 14px;
  font-weight: 700;
}
.all-values {
  height: 40px;
}
.all-values td {
  border: 1px black solid;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
}
.en-salary tr th:first-of-type {
  background-color: var(--grey-color) !important;
}
.en-salary tr th, .ar-salary tr th {
  background-color: var(--grey-color) !important;
}

.en-date-table, .ar-date-table {
  border: 3px black solid;
  margin-bottom: 5px;
  color: black;
}
.ar-date-table {
  font-family: var(--noto-font);
}
.date-table-title {
  border-right: 1px black solid;
  border-left: 1px black solid;
  font-size: 18px;
  font-weight: 700;
  vertical-align: middle;
}
.date-table-value {
  font-family: 'Times New Roman', Times, serif;
}
.ar-dateOfJoining {
  font-family: var(--noto-font);
}
.date-table-title-month {
  border: 1px black solid;
  border-top: 0px;
}
.rmMonthsOfService {
  border: 1px black solid;
  border-top: 0px;
  border-bottom: 0px;
}
.en-date-table tr .date-table-title:first-of-type,
.ar-date-table tr .date-table-title:first-of-type {
  background-color: var(--grey-color) !important;
}
.en-date-table tr .date-table-title,
.en-date-table tr .date-table-title-value,
.ar-date-table tr .date-table-title,
.ar-date-table tr .date-table-title-value {
  background-color: var(--grey-color) !important;
}
.date-table-value, .date-table-title-value {
  font-size: 15px;
  font-weight: 700;
  vertical-align: middle;
}
.en-date-table tr .dateOfJoining:first-of-type,
.ar-date-table tr .dateOfJoining:first-of-type {
  background-color: transparent !important;
}
.en-date-table tr .en-dateOfJoining {
  background-color: transparent !important;
  border: 1px black solid;
  border-bottom: 3px black solid;
}
.ar-date-table tr .ar-dateOfJoining {
  background-color: transparent !important;
  width: 5%;
  border: 1px black solid;
  border-bottom: 3px black solid;
}


.attachments img {
  margin: 0px;
  margin-top: 2px;
  width: 25px;
  height: 25px;
  padding: 0px;
  border-radius: 5px;
}

.en-attach-title, .ar-attach-title {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
  height: 20px;
  font-size: 15px;
  font-weight: 700;
}
.en-attach-title p, .ar-attach-title p {
  margin: 0;
}
.ar-attach-title {
  font-family: var(--noto-font);
}
.ar-attach-title p span {
  font-family: 'Times New Roman', Times, serif;
}
.en-attach-title p span, .ar-attach-title p span {
  padding: 1px 5px;
  margin: 0px 3px;
  width: 20px;
  height: 20px;
  border: 2px #9b9b9b solid;
  background-color: var(--grey-color);
}


.promise {
  margin: auto;
  margin-top: 5px;
  border: 3px black solid;
  background-color: var(--grey-color);
  font-size: 14px;
  font-weight: 700;
}
.ar-promise {
  font-family: var(--noto-font);
}

.signature {
  margin: auto;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
}
.signature-date {
  margin: auto;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
}
.ar-signature, .ar-signature-date {
  font-family: var(--noto-font);
}

.approve {
  margin: 0;
  margin-top: 0px;
  font-size: 16px;
  font-weight: 700;
}
.ar-approve {
  font-family: var(--noto-font);
}
.approve-left {
  margin: auto;
  margin-left: 0;
  margin-top: 15px;
  background-color: var(--grey-color);
}
.approve-right {
  margin: auto;
  margin-right: 0;
  margin-top: 15px;
  background-color: var(--grey-color);
}
.dots {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 600;
}


/* Empty Form */
#form-content {
  display: none;
}
#form-current-day, #form-current-time {
  margin: 0px auto;
}
.monthsOfService {
  border: 1px black solid;
  border-top: 0px;
  border-bottom: 0px;
}
.check-box {
  width: 30px;
  height: 30px;
  margin: 2px auto;
  border: 2px black solid;
}
/* Empty Form */
